apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-model-data-pv
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  storageClassName: manual
  mountOptions:
  {% for option in default_mount_opts %}
    - '{{ option }}'
  {% endfor %}
  nfs:
    server: {{groups['nfs-server'][0]}}
    path: {{ nfs_pv_pvc_mounts["model-data"]["nfs_path"] }}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-model-data-pvc
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-model-data-pv-kfserving-pod
  namespace: kfserving-pod
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  storageClassName: manual
  mountOptions: {{ default_mount_opts }}
  nfs:
    server: {{groups['nfs-server'][0]}}
    path: {{ nfs_pv_pvc_mounts["model-data"]["nfs_path"] }}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-model-data-pvc-kfserving-pod
  namespace: kfserving-pod
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi

