#jinja2: lstrip_blocks: True
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ name }}-pv
spec:
  capacity:
    storage: {{ storage }}
  accessModes:
    {% for mode in accessModes %}
    - {{ mode }}
    {% endfor %}
  storageClassName: manual
  mountOptions:
    {% for mode in mountOpts %}
    - {{ mode }}
    {% endfor %}
  nfs:
    server: {{ nfs_server }}
    path: {{ nfs_path }}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ name }}-pvc
  namespace: {{ namespace }}
spec:
  storageClassName: manual
  accessModes:
    {% for mode in accessModes %}
    - {{ mode }}
    {% endfor %}
  resources:
    requests:
      storage: {{ storage }}
