apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
data:
  key: {{ secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
  namespace: kube-system
data:
  key: {{ secret }}
---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    istio-injection: disabled
    serving.kubeflow.org/inferenceservice: enabled
  name: kfserving-pod
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
  namespace: kfserving-pod
data:
  key: {{ secret }}