apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-app-data-pv
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  storageClassName: {{ rook_pv_pvc_mounts["app-data"]["storageClassName"] }}
  cephfs:
    monitors:
    {% for hostname in groups['ceph-server'] %}
      {% if hostvars[hostname]['mon'] is defined and hostvars[hostname]['mon'] == 'yes' %}
    - {{ hostname }}:6789
      {% endif %}
    {% endfor %}
    path: {{ rook_pv_pvc_mounts["app-data"]["rootPath"] }}
    user: admin
    secretRef:
      name: ceph-secret
    readOnly: false
  persistentVolumeReclaimPolicy: Recycle
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-app-data-pvc
spec:
  storageClassName: {{ rook_pv_pvc_mounts["app-data"]["storageClassName"] }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi