apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-model-data-pv
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  storageClassName: {{ rook_pv_pvc_mounts["model-data"]["storageClassName"] }}
  cephfs:
    monitors:
    {% for hostname in groups['ceph-server'] %}
      {% if hostvars[hostname]['mon'] is defined and hostvars[hostname]['mon'] == 'yes' %}
    - {{ hostname }}:6789
      {% endif %}
    {% endfor %}
    path: {{ rook_pv_pvc_mounts["model-data"]["rootPath"] }}
    user: admin
    secretRef:
      name: ceph-secret
    readOnly: false
  persistentVolumeReclaimPolicy: Retain

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-model-data-pvc
spec:
  storageClassName: {{ rook_pv_pvc_mounts["model-data"]["storageClassName"] }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi
---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    istio-injection: disabled
    serving.kubeflow.org/inferenceservice: enabled
  name: kfserving-pod
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-model-data-pv-kfserving-pod
  namespace: kfserving-pod
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  storageClassName: {{ rook_pv_pvc_mounts["kfserving-pod-model-data"]["storageClassName"] }}
  cephfs:
    monitors:
    {% for hostname in groups['ceph-server'] %}
      {% if hostvars[hostname]['mon'] is defined and hostvars[hostname]['mon'] == 'yes' %}
    - {{ hostname }}:6789
      {% endif %}
    {% endfor %}
    path: {{ rook_pv_pvc_mounts["kfserving-pod-model-data"]["rootPath"] }}
    user: admin
    secretRef:
      name: ceph-secret
    readOnly: false
  persistentVolumeReclaimPolicy: Retain

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-model-data-pvc-kfserving-pod
  namespace: kfserving-pod
spec:
  storageClassName: {{ rook_pv_pvc_mounts["kfserving-pod-model-data"]["storageClassName"] }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi

