server.name: kibana
server.host: "0"
elasticsearch.hosts: ["http://{{ groups['es-cluster'][0] }}:9200"]
elasticsearch.username: "{{ elastic_user }}"
elasticsearch.password: "{{ elastic_password }}"
monitoring.ui.container.elasticsearch.enabled: true
