{% macro dns_policy() %}
{% if service['dnsPolicy'] is defined %}
dnsPolicy: {{service['dnsPolicy']}}
{% endif %}
{%- endmacro -%}

{% macro image_fullname(image, type='apulis') -%}
{% if type == 'apulis' %}
{% if ':' in apulis_images[image]['name'] %}
{{ apulis_images[image]['name'] }}:{{apulis_images[image]['tag'] if apulis_images[image]['tag'] is defined else image_tag}}
{% else %}
{{HARBOR_DOMAIN}}:{{HARBOR_HTTPS_PORT}}/{{PROJECT_NAME}}/{{apulis_images[image]['name']}}:{{apulis_images[image]['tag'] if apulis_images[image]['tag'] is defined else image_tag}}
{% endif %}
{% else %}
{% if ':' in thirdparty_images[image]['name'] %}
{{ thirdparty_images[image]['name'] }}:{{thirdparty_images[image]['tag'] if thirdparty_images[image]['tag'] is defined else image_tag}}
{% else %}
{{HARBOR_DOMAIN}}:{{HARBOR_HTTPS_PORT}}/{{PROJECT_NAME}}/{{thirdparty_images[image]['name']}}:{{thirdparty_images[image]['tag'] if thirdparty_images[image]['tag'] is defined else image_tag}}
{% endif %}
{% endif %}
{%- endmacro %}

{% macro image_short(image, type='apulis') -%}
{%- if type == 'apulis' -%}
{%- if ':' in apulis_images[image]['name'] -%}
{{ apulis_images[image]['name'] }}
{%- else -%}
{{HARBOR_DOMAIN}}:{{HARBOR_HTTPS_PORT}}/{{PROJECT_NAME}}/{{apulis_images[image]['name']}}
{%- endif -%}
{%- else -%}
{%- if ':' in thirdparty_images[image]['name'] -%}
{{ apulis_images[image]['name'] }}
{%- else -%}
{{HARBOR_DOMAIN}}:{{HARBOR_HTTPS_PORT}}/{{PROJECT_NAME}}/{{thirdparty_images[image]['name']}}
{%- endif -%}
{%- endif -%}
{%- endmacro %}

{% macro api_servers() -%}
{{ kube_vip_address if kube_vip_address is defined else groups['kube-master'][0] }}
{%- endmacro %}

{% macro extranet_url() -%}
{% set protocol = "http" %}
{% set ip = kube_vip_address %}
{% set port = "80" %}
{% if service['extranet_protocol'] is defined %}
{% set protocol = service['extranet_protocol'] %}
{% endif %}
{% if service['extranet_ip'] is defined %}
{% set ip = service['extranet_ip'] %}
{% endif %}
{% if service['extranet_port'] is defined %}
{% set port = service['extranet_port'] %}
{% endif %}
{{ protocol }}://{{ ip }}:{{ port }}
{%- endmacro %}