localPeer:
  id: {{ inventory_hostname }}
  address: {{ ansible_default_ipv4.address }}
  port: {{ kube_vip_port | default(10000) }}
remotePeers:
{% for name in groups['kube-master'] | difference(inventory_hostname) %}
- id: {{ name }}
  address: {{ hostvars[name].ansible_default_ipv4.address }}
  port: {{ kube_vip_port | default(10000) }}
{% endfor %}
addPeersAsBackends: false
vip: {{ kube_vip_address | default('') }}
gratuitousARP: {{ kube_vip_gratuitous_arp | default('false') }}
singleNode: false
startAsLeader: {{ inventory_hostname == groups['kube-master'][0] | ternary('true', 'false') }}
interface: {{ ansible_default_ipv4.interface }}
loadBalancers:
- name: OpenShift Control Plane
  type: tcp
  port: 6443
  bindToVip: true
  backends:
{% for name in [inventory_hostname] + (groups['kube-master'] | difference(inventory_hostname)) %}
  - port: 6443
    address: {{ hostvars[name].ansible_default_ipv4.address }}
{% endfor %}