apiVersion: v1
kind: PersistentVolume
metadata:
  name: aiplatform-label-data-pv
spec:
  capacity:
    storage: 300Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: {{ nfs_pv_pvc_mounts["label-data"]["storageClassName"] }}
  mountOptions:
  {% for option in default_mount_opts %}
    - {{ option }}
  {% endfor %}
  nfs:
    server: {{groups['nfs-server'][0]}}
    path: {{ nfs_pv_pvc_mounts["label-data"]["nfs_path"] }}

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: aiplatform-label-data-pvc
spec:
  storageClassName: {{ nfs_pv_pvc_mounts["label-data"]["storageClassName"] }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi
